# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.lock
!pubspec.lock
.packages
.metadata

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*
ios/.generated/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/
android/local.properties
android/key.properties
*.keystore
*.jks
android/app/release/
android/.cxx/

# IDE
*.iml
.idea/
